@import './shoelace/sl-input.css';
@import './shoelace/sl-range.css';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: var(--sl-font-sans);
  font-size: var(--sl-font-size-small);
}

body {
  padding: var(--sl-spacing-medium);
  width: 500px;
}

.hgf-offset-bottom--medium {
  margin-bottom: var(--sl-spacing-medium);
}
