@import './shoelace/sl-input.css';
@import './shoelace/sl-range.css';
@import './shoelace/sl-switch.css';
@import './shoelace/sl-select.css';
@import './shoelace/sl-tab-panel.css';

* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-family: var(--sl-font-sans);
  font-size: var(--sl-font-size-small);
}

body {
  padding: var(--sl-spacing-medium) 0;
  width: 500px;
}

.hgf-popup-title {
  padding: 0 var(--sl-spacing-large);
}

.hgf-offset-bottom--large {
  margin-bottom: var(--sl-spacing-large);
}
