@import "tailwindcss" important;

@custom-variant dark (&:where(.dark, .dark *));

:root {
    --hgf-header-height: 64px;
}

button, select, html, textarea, input {
    letter-spacing: 0 !important;
}

.navigation.element-fixed {
    z-index: 1000;
}

.side-bar {
    margin-top: 0 !important;
}

/* Header */

.hgf-enhanced-header header.exp-header {
    display: none;
}

.hgf-enhanced-header .userpages-wrap {
    padding-top: var(--hgf-header-height);
}

/* Sidebar */

.hgf-enhanced-sidebar .user-text-info,
.hgf-enhanced-sidebar .twitch-actions,
.hgf-enhanced-sidebar .spacer-xs {
    display: none;
}

.hgf-enhanced-sidebar .side-bar {
    margin-top: 0;
    padding-top: 24px;
}

@media (min-width: 1280px) {
    .hgf-enhanced-sidebar .side-bar {
        position: sticky;
        top: var(--hgf-header-height);
    }
}

/* Footer */

.hgf-hide-footer dashboard-footer {
    display: none;
}
