:root {
    --hgf-header-height: 64px;
}

button, select, html, textarea, input {
    letter-spacing: 0 !important;
}

h1:not(.uk-h1),
h2:not(.uk-h2),
h3:not(.uk-h3),
h4:not(.uk-h4),
h5:not(.uk-h5),
h6:not(.uk-h6) {
    color: inherit;
}

.navigation.element-fixed {
    z-index: 1000;
}

.side-bar {
    margin-top: 0 !important;
}

/* Header */

.hgf-enhanced-header header.exp-header {
    display: none;
}

.hgf-enhanced-header .userpages-wrap {
    padding-top: var(--hgf-header-height);
}

/* Sidebar */

.hgf-enhanced-sidebar .user-text-info,
.hgf-enhanced-sidebar .twitch-actions,
.hgf-enhanced-sidebar .spacer-xs {
    display: none;
}

.hgf-enhanced-sidebar .side-bar {
    position: sticky;
    margin-top: 0;
    top: var(--hgf-header-height);
    padding-top: 24px;
}

/* Footer */

.hgf-hide-footer dashboard-footer {
    display: none;
}
