.hgf-bt-primary {
    border-top: 2px solid rgb(30, 135, 240);
}

.hgf-color-white {
    color: white !important;
}

.hgf-w-full {
    width: 100% !important;
}

.hgf-mb-8 {
    margin-bottom: 8px !important;
}

.hgf-mb-16 {
    margin-bottom: 16px !important;
}
