.hgf-bt-primary {
    border-top: 2px solid rgb(30, 135, 240);
}

.hgf-color-white {
    color: white !important;
}

.hgf-color-red {
    color: #f0506e !important;
}

.hgf-w-full {
    width: 100% !important;
}

.hgf-mb-0 {
    margin-bottom: 0 !important;
}

.hgf-mb-4 {
    margin-bottom: 4px !important;
}

.hgf-mb-8 {
    margin-bottom: 8px !important;
}

.hgf-mb-16 {
    margin-bottom: 16px !important;
}

.hgf-ml-8 {
    margin-left: 8px !important;
}

.hgf-pv-8 {
    padding-top: 8px !important;
    padding-bottom: 8px !important;
}

.hgf-ph-16 {
    padding-left: 16px !important;
    padding-right: 16px !important;
}

.hgf-p-16 {
    padding: 16px !important;
}

.hgf-pt-16 {
    padding-top: 16px !important;
}

.hgf-hidden {
    display: none !important;
}
