.sl-toast-stack {
    top: auto;
    bottom: 0;
}

.sl-alert::part(base) {
    width: 100%;
}

.sl-alert::part(message) {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
