.sl-select {
    --sl-focus-ring-width: 0;
}

.sl-select::part(form-control-input) {
    margin-bottom: var(--sl-spacing-2x-small);
}

.sl-select::part(form-control-label) {
    display: block;
    margin-bottom: var(--sl-spacing-2x-small);
}
