.haf-extension-container {
    display: flex;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    height: 50px;
    z-index: 100000;
    background: #121212;
    padding: 16px;
    border-style: solid;
    border-color: transparent;
    border-width: 3px;
    color: white;
}

.haf-extension-container.safe {
    border-color: lightgreen;
}

.haf-extension-container.broken {
    border-color: lightsalmon;
}

.haf-extension-container.danger {
    border-color: indianred;
}

.haf-extension-container__separator {
    height: 100%;
    width: 1px;
    background-color: #555;
    margin: 0 16px;
}

.haf-extension-container__label {
    display: flex;
    align-items: center;
}

.haf-extension-container__label-text {
    display: inline-block;
}

.haf-extension-container__counter,
.haf-extension-container__timer {
    color: #999;
}

.mr-2 {
    margin-right: 8px;
}

.mr-6 {
    margin-right: 24px;
}

.hidden {
    display: none;
}

button:disabled {
    opacity: 0.5;
}
