.hgf-hidden-offers-manager__dialog[open] {
    width: 600px;
    min-height: 500px;
    border-radius: 8px;
    letter-spacing: 0;
    background-color: #131315;
    border: 2px solid gray;
    padding: 16px;
    display: flex;
    flex-direction: column;
}

.hgf-hidden-offers-manager__dialog-content {
    flex: 1;
    overflow-y: auto;
}

.hgf-hidden-offers-manager__dialog::backdrop {
    background-color: #121212;
    opacity: 0.85;
}

.hgf-hidden-offers-manager__table {
    margin-bottom: 8px;
    width: 100%;
    color: rgba(255, 255, 255, .87);
}

.hgf-hidden-offers-manager__row:nth-child(odd) {
    background-color: #232428;
}

.hgf-hidden-offers-manager__cell {
    height: 40px;
    vertical-align: middle;
    padding: 8px 24px;
}

.hgf-hidden-offers-manager__remove-button {
    background-color: transparent;
    border: none;
    color: lightcoral;
}

.hgf-hidden-offers-manager__footer {
    display: flex;
    justify-content: flex-end;
    background-color: #131315;
}

.hgf-hidden-offers-manager__empty {
    padding: 16px;
    text-align: center;
    color: rgba(255, 255, 255, .87);
}

.hgf-hidden-offers-manager--hidden {
    display: none;
}
