.hgf-hidden-offers-manager {
    margin-bottom: 16px;
}

.hgf-hidden-offers-manager__button {
    width: 100%;
    background-color: #5787dc;
    border: none;
    padding: 16px;
    border-radius: 4px;
    letter-spacing: 0;
}

.hgf-hidden-offers-manager__button:hover {
    background-color: #4a6fae;
}

.hgf-hidden-offers-manager__dialog {
    width: 600px;
    border-radius: 8px;
    letter-spacing: 0;
    background-color: #131315;
    border: 2px solid gray;
    padding: 8px 8px 0 8px;
}

.hgf-hidden-offers-manager__dialog::backdrop {
    background-color: #121212;
    opacity: 0.8;
}

.hgf-hidden-offers-manager__table {
    margin-bottom: 8px;
    width: 100%;
    color: rgba(255, 255, 255, .87);
}

.hgf-hidden-offers-manager__row:nth-child(odd) {
    background-color: #232428;
}

.hgf-hidden-offers-manager__cell {
    padding: 8px 24px;
}

.hgf-hidden-offers-manager__remove-button {
    background-color: transparent;
    border: none;
    color: lightcoral;
}

.hgf-hidden-offers-manager__footer {
    display: flex;
    justify-content: flex-end;
    position: sticky;
    bottom: 0;
    padding: 16px 0;
    background-color: #131315;
}

.hgf-hidden-offers-manager__close-dialog {
    display: block;
    background-color: #5787dc;
    border: none;
    padding: 8px 24px;
    border-radius: 4px;
    letter-spacing: 0;
}
