<div>
  <div class="hgf-mb-16">
    <button class="uk-button uk-button-primary uk-width-1-1 uk-button-large" data-hgf-manage-button>
      Manage hidden offers
    </button>
  </div>

  <dialog class="hgf-hidden-offers-manager__dialog" data-hgf-hidden-offers-popup>
    <div class="hgf-hidden-offers-manager__dialog-content">
      <h3 class="hgf-mb-16 hgf-color-white">Manage hidden offers</h3>

      <input type="text" placeholder="Search..." class="uk-input hgf-mb-16" data-hgf-search-offer autofocus>

      <table class="hgf-hidden-offers-manager__table" data-hgf-hidden-offers-table>
        <tbody data-hgf-hidden-offers-table-body></tbody>
      </table>

      <p class="hgf-hidden-offers-manager__empty" data-hgf-empty-offers></p>
    </div>

    <div class="uk-flex uk-flex-right">
      <button class="uk-button uk-button-primary" data-hgf-hidden-offers-close-popup>
        Close
      </button>
    </div>
  </dialog>
</div>
