<div class="hgf-hidden-offers-manager">
  <button class="hgf-hidden-offers-manager__button" data-hgf-manage-button>Manage hidden offers</button>
</div>

<dialog class="hgf-hidden-offers-manager__dialog" data-hgf-hidden-offers-popup>
  <table class="hgf-hidden-offers-manager__table">
    <tbody data-hgf-hidden-offers-table-body></tbody>
  </table>

  <div class="hgf-hidden-offers-manager__footer">
    <button class="hgf-hidden-offers-manager__close-dialog" data-hgf-hidden-offers-close-popup>Close</button>
  </div>
</dialog>
