<div class="haf-extension-container">
    <span class="mr-4" data-round>[1]</span>

    <span class="mr-4" data-timer>00:00</span>

    <div class="mr-4">
        <span data-successful-checks>0</span>
        /
        <span data-total-checks>0</span>
    </div>

    <div class="haf-extension-container__separator mr-4"></div>

    <label class="haf-extension-container__label mr-4">
        <span class="haf-extension-container__label-text mr-2">Games</span>
        <input type="checkbox" data-toggle-messages checked>
    </label>

    <div class="haf-extension-container__separator mr-4"></div>

    <label class="haf-extension-container__label">
        <span class="haf-extension-container__label-text mr-2">Quiz</span>
        <input type="checkbox" data-toggle-quiz checked>
    </label>
</div>
