<div class="haf-extension-container">
    <span data-round>[1]</span>

    <div class="haf-extension-container__separator"></div>

    <div>
        <span data-successful-checks>0</span>
        /
        <span data-total-checks>0</span>
    </div>

    <div class="haf-extension-container__separator"></div>

    <label class="haf-extension-container__label">
        <span class="haf-extension-container__label-text mr-2">Games</span>
        <span class="mr-2" data-timer>(00:00)</span>
        <input type="checkbox" data-toggle-messages checked>
    </label>

    <div class="haf-extension-container__separator"></div>

    <label class="haf-extension-container__label">
        <span class="haf-extension-container__label-text mr-2">Quiz</span>
        <input type="checkbox" data-toggle-quiz checked>
    </label>
</div>
