.sl-range {
    --thumb-size: var(--sl-spacing-large);
}

.sl-range::part(base) {
    margin-bottom: var(--sl-spacing-x-small);
}

.sl-range::part(form-control-label) {
    display: block;
    margin-bottom: var(--sl-spacing-x-small);
}
