<div class="haf-extension-container">
    <label class="haf-extension-container__label mr-6">
        <span class="haf-extension-container__label-text mr-2">
            Giveaways
            <span class="haf-extension-container__timer" data-hitsquad-time></span>
            <span class="haf-extension-container__counter" data-hitsquad-counter></span>
        </span>
        <input type="checkbox" data-toggle-hitsquad>
    </label>

    <button data-hitsquad-button>Send</button>

    <div class="haf-extension-container__separator"></div>

    <button data-anticheat-button>!anticheat</button>

    <div class="haf-extension-container__separator"></div>

    <label class="haf-extension-container__label mr-6">
        <span class="haf-extension-container__label-text mr-2">
            Detect chest game
            <span class="haf-extension-container__timer" data-chest-time></span>
        </span>
        <input type="checkbox" data-detect-chest-game>
    </label>

    <button data-chest-game-button>Send</button>

    <div class="haf-extension-container__separator"></div>

    <label class="haf-extension-container__label mr-6">
        <span class="haf-extension-container__label-text mr-2">
            Detect loot game
            <span class="haf-extension-container__timer" data-loot-time></span>
        </span>
        <input type="checkbox" data-detect-loot-game>
    </label>

    <button data-loot-game-button>Send</button>

<!--    <label class="haf-extension-container__label mr-6">-->
<!--        <span class="haf-extension-container__label-text mr-2">-->
<!--            Akira Drawing-->
<!--            <span class="haf-extension-container__timer" data-akira-drawing-time></span>-->
<!--        </span>-->
<!--        <input type="checkbox" data-toggle-akira-drawing>-->
<!--    </label>-->

<!--    <button data-akira-drawing>Participate</button>-->
</div>
