<div class="haf-extension-container">
    <label class="haf-extension-container__label mr-6">
        <span class="haf-extension-container__label-text mr-2">
            Giveaways
            <span class="haf-extension-container__timer" data-hitsquad-time></span>
            <span class="haf-extension-container__counter" data-hitsquad-counter></span>
        </span>
        <input type="checkbox" data-toggle-hitsquad>
    </label>

    <button data-hitsquad-button>Participate</button>

    <div class="haf-extension-container__separator"></div>

    <label class="haf-extension-container__label mr-6">
        <span class="haf-extension-container__label-text mr-2">
            Akira Drawing
            <span class="haf-extension-container__timer" data-akira-drawing-time></span>
        </span>
        <input type="checkbox" data-toggle-akira-drawing>
    </label>

    <button data-akira-drawing>Participate</button>
</div>
