<div class="haf-extension-container">
    <label class="haf-extension-container__label">
        <span class="haf-extension-container__label-text mr-2">Giveaways</span>
        <input type="checkbox" data-toggle-hitsquad>
    </label>

    <div class="haf-extension-container__separator"></div>

    <label class="haf-extension-container__label">
        <span class="haf-extension-container__label-text mr-2">Akira Draw</span>
        <input type="checkbox" data-toggle-akira-drawing>
    </label>

    <div class="haf-extension-container__separator"></div>

    <button data-hitsquad-button class="mr-2">&lt;!hitsquad&gt;</button>
</div>
