.haf-stream-status-view * {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

.haf-stream-status-view {
    position: fixed;
    top: 0;
    left: -10000px;
    z-index: 20000;
}

.hgf-ads-video {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: #000;
    z-index: 10000;
}
