.haf-extension-container {
    display: flex;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    height: 50px;
    z-index: 100000;
    background: #121212;
    padding: 16px;
    border-style: solid;
    border-color: transparent;
    border-width: 3px;
    color: white;
}

.haf-extension-container--ban-phase {
    border-color: lightcoral;
}

.haf-extension-container--no-ban-phase {
    border-color: lightgreen;
}

.haf-extension-container--checks-running {
    border-color: lightblue;
}

.haf-extension-container--debug {
    border-color: saddlebrown;
}

.haf-extension-container__separator {
    height: 100%;
    width: 1px;
    background-color: #555;
    margin: 0 16px;
}

.haf-extension-container__label {
    display: flex;
    align-items: center;
}

.haf-extension-container__label-text {
    display: inline-block;
}

.mr-2 {
    margin-right: 8px;
}

.hidden {
    display: none;
}
