<div class="haf-extension-container">
    <div>
        <span data-successful-checks>0</span>
        /
        <span data-total-checks>0</span>
    </div>

    <div class="haf-extension-container__separator"></div>

    <label class="haf-extension-container__label">
        <span class="haf-extension-container__label-text mr-2">Trivia</span>
        <input type="checkbox" data-toggle-trivia>
    </label>

    <div class="haf-extension-container__separator"></div>

    <label class="haf-extension-container__label">
        <span class="haf-extension-container__label-text mr-2">Giveaways</span>
        <input type="checkbox" data-toggle-giveaways>
    </label>

    <div class="haf-extension-container__separator"></div>

    <button data-hitsquad class="mr-2">&lt;!hitsquad&gt;</button>
</div>
