<div class="haf-extension-container">
    <label class="haf-extension-container__label hidden">
        <span class="haf-extension-container__label-text mr-2">Trivia</span>
        <input type="checkbox" data-toggle-trivia>
    </label>

    <div class="haf-extension-container__separator hidden"></div>

    <div class="flex" data-giveaways>
        <label class="haf-extension-container__label" data-giveaways-manager>
            <span class="haf-extension-container__label-text mr-2">Giveaways</span>
            <input type="checkbox" data-toggle-giveaways>
        </label>

        <span class="mr-2 ml-2">&bullet;</span>

        <div data-giveaways-counter>
            <span data-remaining-rounds>&mdash;</span> / <span data-total-rounds>&mdash;</span>
        </div>
    </div>

    <div class="haf-extension-container__separator"></div>

    <button data-hitsquad class="mr-2">&lt;!hitsquad&gt;</button>
</div>
