<div class="haf-extension-container">
    <div>
        <span data-successful-checks>0</span>
        /
        <span data-total-checks>0</span>
    </div>

    <div class="haf-extension-container__separator"></div>

    <label class="haf-extension-container__label">
        <span class="haf-extension-container__label-text mr-2">Games</span>
        <input type="checkbox" data-toggle-games checked>
    </label>

    <div class="haf-extension-container__separator"></div>

    <label class="haf-extension-container__label">
        <span class="haf-extension-container__label-text mr-2">Quiz</span>
        <input type="checkbox" data-toggle-quiz>
    </label>
</div>
